li{
    list-style-type: none;
    display: inline;
    margin: 2em;    
}

a:link{
    color: gray;
    text-decoration: none;
    border: 1px solid gray;
    border-radius: 0.5em;
    padding: 0.5em;
}

a:hover{
    color: black;
    border: 2.5px solid black;
}

.active_link{
    font-weight: bold;
    font-size: larger;
    color: black;
    border: 2px solid black;
}

